

	<h3> <%= @diner.name %> </h3>
	<h4> Email: <%= @diner.email %> </h4>
	<h4> Loyalty Points: <%= @diner.loyalty_points %> </h4>
	<br>
	<br>
	<ul> 
	<% @reservations.each do |reservation| %>
	
		<li>Reservation for <%= reservation.party_size %> at <%= reservation.restaurant.name %> for <%= reservation.time.strftime("%b %e, %l:%M %p") %> </li>
		 


	<% end %>
		</ul>