<h5> New Reservation </h5>

<%= form_for ([@restaurant, @reservation]) do |f| %>

<%= f.label :party_size %>
<%= f.number_field :party_size %>

<%= f.label :time %>
<%= f.date_select :time %>
<%= f.select :time, @reservation.foo(@restaurant.open_hour) %> 

<%= f.submit %>

<% end %>