<h5> New Reservation </h5>

<%= form_for ([@restaurant, @reservation]) do |f| %>

<%= f.label :party_size %>
<%= f.number_field :party_size %>

<%= f.label :time %>
<%= f.select :time, @restaurant.timeslots.collect { |slot| [slot.strftime("%A, %b %d, %l:%M %p"), slot]} %>

<%= f.submit %>

<% end %>