<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h2> SEAT YOURSELF </h2>
	<p> <%= link_to "New Restaurant", new_restaurant_path %> </p>

<%= yield %>

</body>
</html>
