<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p id='notice'><%= flash[:notice] %></p>
  <%end%>
  <% if flash[:alert] %>
    <p id='alert'><%= flash[:alert] %></p>
  <%end%> 

	<h2><%= link_to "SEAT YOURSELF", root_path %> </h2>
	<p> <%= link_to "New Restaurant", new_restaurant_path %> ||
	<%= link_to "New Diner", new_diner_path %> </p>


<%= yield %>



<p>
  <% if current_diner %>
    Signed in as <%= link_to current_diner.name, diner_path(current_diner.id) %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
  <% else %>
  	 <%= link_to "Log In", new_session_path %> or <%= link_to "Sign Up!", new_diner_path %> 
  <% end %>

 </p>

</body>
</html>
